body {
    margin: auto;
    font-family: Arial, sans-serif;
    margin-bottom: 75px;
}

h1 {
    margin-top: 30px;
    text-align: center;
    font-family: sans-serif;
}

p {
    margin-top: 10px;
    margin-bottom: 0px;
}
textarea {
    margin-bottom: 150px;
}

label {
    margin-right: 10px;
    /* display: block; */
    display: inline-block;
    /* white-space: nowrap; */
}

#intro {
    margin-top: 35px;
    text-align: center;
    margin-bottom: 50px;
}

#input_form_a {
    float: left;
    height: 500px;
    width: 400px;
    margin-left: 50px
}

#input_form_b {
    float: right;
    height: 500px;
    width: 400px;
    margin-right: 50px;
}

a:link {
    text-decoration: none;
}

#json_input {
    text-align: center;
}
.flow_paragraphs {
    font-weight: bold;
    margin-bottom: 10px;
}

.sections {
    margin-top: 40px;
    text-align: center;
}

.input_boxes {
    margin-top: 10px;
    height: 75px;
    margin-bottom: 10px;
}

.left_side_div {
    float: left;
    margin-left: 20px;
    width: 300px;
    height: 75px;
}

.right_side_div {
    float: right;
    margin-right: 20px;
    width: 300px;
    height: 75px;
}

.submit_buttons {
    text-align: center;
    /* margin-top: 100px; */
    /* padding-top: 30px; */
}

.join_buttons {
    margin-right: 5px;
    margin-left: 5px;
}

#download_json {
    margin-top: 50px;
    text-align: center;
}

#footer-nav {
    list-style-type: none;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    margin-bottom: 0;
}

.footer {
    float: right;
    padding: 0 20px 0 20px;
}